@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  --navy: #00111c;
  --blue: #001523;
  --teal: #2e8a99;
  --gray: #84a7a1;
  --radius: 15px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  color: white;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
body {
  background-color: var(--navy);
  display: flex;
  height: 100vh;
}
#container {
  display: flex;
  gap: 2rem;
  height: 95vh;
  width: 95vw;
  margin: auto;
}
main {
  display: grid;
  grid-template-columns: max(55vw) 1fr;
  grid-template-rows: 50px repeat(3, 1fr);
  gap: 1rem;
  font-size: 1rem;
}
main,
section {
  width: 100%;
}
nav {
  height: 100%;
  background-color: var(--blue);
  width: 150px;
  border-radius: 15px;
}
h2 {
  margin: 1rem 0;
}
/* GRID */

form {
  grid-column: 1/2;
  grid-row: 1/2;
  & input[type="submit"] {
    display: none;
  }
  & input[type="text"] {
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    background-color: var(--blue);
    color: white;
  }
}

#city {
  grid-column: 1/2;
  grid-row: 2/3;
  /* background-color: var(--blue);
  border-radius: var(--radius); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  & h3{
    font-size: 2rem;
  }
}
#todaysforecast {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: var(--blue);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  & #hourdiv {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    width: 100%;
  }
  & #hourdiv::-webkit-scrollbar {
    display: none;
  }
  & .hour {
    border-right: #2e8a99 1px solid;
    margin: 1rem 0;
    padding-right: 6px;
  }
}
#details {
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: var(--blue);
  border-radius: var(--radius);
  padding: 0 2rem;
}
#details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#weekly-forecast {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: var(--blue);
  border-radius: var(--radius);
  padding: 2rem;
  & ul {
    padding: 0;
  }
  & li {
    display: flex;
    justify-content: space-between;
  }
  & .miniweek {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p {
    text-transform: capitalize;
    min-width: 76px;
  }
}

/* NAV */

#nav-ul{

    & li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        cursor: pointer;
        border-bottom: solid 1px var(--gray);
    }
}